<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/style.css" />

	<title>Health Insurance Predictor</title>
</head>
<body>
    <header>
        <div class="navbar">
        <div class="logo">
        <a href="#">Health Insurance Predictor</a>
        </div>
        <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="contacts.html">Contact</a></li>
        </ul>
        <div class="toggle_btn">
        <i class="fa fa-solid fa-bars"></i>
        </div>
        </div>
        <div class="dropdown_menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="contacts.html">Contact</a></li>
        </div>
        </header>
<main>
<div id="showData">
</div>
</main>

<script>
    window.onload = function() {
            let age = localStorage.getItem('age'); 
            let gender= localStorage.getItem('gender');
            let bmi = localStorage.getItem('bmi');
            let noc = localStorage.getItem('noc');
            let smoker = localStorage.getItem('smoker');
            let origin = localStorage.getItem('origin'); 

            let result="<div class='form2'><h2>Your Age:</h2><h1>"+age+"</h1><br>"+"<h2>Your Gender:</h2><h1>"+gender+"</h1><br>"+"<h2>Your BMI:</h2><h1>"+bmi+"</h1><br>"+"<h2>No Of Children:</h2><h1>"+noc+"</h1><br>"+"<h2>Are you a Smoker?</h2><h1>"+smoker+"</h1><br>"+"<h1>Your Origin:</h2><h1>"+origin+"</h1></div>";
            document.getElementById('showData').innerHTML= result;
            //localStorage.clear();
        };
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')


            const dropDownMenu = document.querySelector('.dropdown_menu')
		toggleBtn.onclick = function () {
  			if (dropDownMenu.classList.contains('open')) {
    				dropDownMenu.classList.remove("open");console.log(toggleBtnIcon)
  			} else {
    				dropDownMenu.classList.add("open");
  				}
				
			const isOpen = dropDownMenu.classList.contains('open')
                toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
		};
        
</script>
</body>
</html>